<script lang="ts">
import Vue from 'vue';
import { startCase, kebabCase, snakeCase } from 'lodash';
import { init, refresh } from 'aos';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import { getPageMetadata } from '../../../common/meta';
import CropInfinityHero from '../../../components/common/crop-infinity-hero.vue';
import TechnologyPartnersNextStep from '../../../components/partners/technology-partners/next-step.vue';
import TechnologyPartnersList from '../../../components/partners/technology-partners/partners-list.vue';
import GroupButtons from '../../../components/common/group-buttons.vue';
import SlpTypeahead from '../../../components/common/typeahead.vue';

const getPartnerImgUrl = async (title: string) => {
  const partnerTitle = title.toLowerCase().replace(/[ .]/g, '_');
  const imagePath = `/nuxt-images/applications/apps/${partnerTitle}`;
  const extensions = ['gif', 'jpg', 'jpeg', 'png', 'svg'];
  let imageUrl;

  // eslint-disable-next-line no-restricted-syntax
  for (const extension of extensions) {
    try {
      const fullTitle = `${partnerTitle}.${extension}`;
      // eslint-disable-next-line no-await-in-loop
      await import(
        `../../../static/nuxt-images/applications/apps/${fullTitle}`
      );
    } catch (e) {
      // eslint-disable-next-line no-continue
      continue;
    }

    imageUrl = `${imagePath}.${extension}`;
    break;
  }

  if (!imageUrl) {
    imageUrl = '/nuxt-images/applications/apps/handshake_placeholder.svg';
  }

  return imageUrl;
};

const getSectionIcon = (sectionName: string, groupButtons: Array<any>) => {
  const sectionIcon = groupButtons
    .map((button) => {
      const editedButton = { ...button };
      editedButton.sectionName = button.href.replace('#', '');
      return editedButton;
    })
    .find((button) => button.sectionName === sectionName);

  return sectionIcon ? sectionIcon.icon_left : null;
};

export default Vue.extend({
  components: {
    SlpTypeahead,
    GroupButtons,
    TechnologyPartnersList,
    TechnologyPartnersNextStep,
    CropInfinityHero,
  },
  async asyncData({ $content, error }: any) {
    try {
      const apps: any = await $content('apps').fetch();
      const partners = await $content(
        `partners/technology-partners/index`,
      ).fetch();

      const formattedPlatforms = [];
      const featured = { applications: [] };
      const suggestions = [];
      const typeaheadSections = [];

      // eslint-disable-next-line no-restricted-syntax
      for (const platform of apps.platforms) {
        const sectionName = snakeCase(platform.id);
        const suggestion = { name: sectionName, data: [] };
        const formattedPlatform = {
          ...platform,
          applications: [],
        };

        // eslint-disable-next-line no-restricted-syntax
        for (const application of platform.applications) {
          const app = {
            ...application,
            category: startCase(platform.id),
            // eslint-disable-next-line no-await-in-loop
            image: await getPartnerImgUrl(application.title),
            id: kebabCase(application.title),
          };

          formattedPlatform.applications.push(app);
          suggestion.data.push({
            name: application.title,
            value: kebabCase(application.title),
          });

          if (application.featured) {
            featured.applications.push(app);
          }
        }

        formattedPlatforms.push(formattedPlatform);

        typeaheadSections.push({
          sectionName,
          iconName: getSectionIcon(
            kebabCase(sectionName),
            partners.group_buttons.buttons,
          ),
        });

        suggestions.push(suggestion);
      }

      return {
        partners,
        formattedPlatforms,
        featuredApps: [featured],
        suggestions,
        typeaheadSections,
      };
    } catch (e) {
      error({ statusCode: 404 });
      return {};
    }
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).partners, this.$route.path);
  },
  beforeMount() {
    init({
      once: true,
    });
  },
  mounted() {
    refresh();
  },
  methods: {
    onSelectPartner(partner: { name: string; value: string }) {
      this.$router.push(`#${partner.value}`);
    },
  },
});
</script>

<template>
  <section>
    <CropInfinityHero :data="partners.hero" />
    <SlpTypeahead
      :options="suggestions"
      :placeholder="partners.search.placeholder"
      :sections="typeaheadSections"
      @select="onSelectPartner"
    />
    <GroupButtons
      class="find-partners__group-buttons"
      :data="partners.group_buttons"
    />
    <TechnologyPartnersList
      :list="featuredApps"
      :data="partners.featured_partners"
    />
    <SlpTopButton data-ga-name="to-top" data-ga-location="body" />
    <TechnologyPartnersList
      :list="formattedPlatforms"
      :data="partners.all_partners"
    />
    <SlpContainer variant="gradient">
      <TechnologyPartnersNextStep :data="partners.next_step" />
    </SlpContainer>
  </section>
</template>

<style scoped lang="scss">
.find-partners {
  &__group-buttons {
    margin-top: 0 !important;
    margin-bottom: $spacing-96 !important;
  }
}
</style>
